<p id="notice"><%= notice %></p>

<h1>Time Logs</h1>

<table>
  <thead>
    <tr>
      <th>Duration (Hours)</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3">
        <%= link_to 'New', new_time_log_path %>
      </th>
    </tr>
  </thead>

  <tbody>
    <%= render @time_logs %>
  </tbody>
</table>
